@model IEnumerable<BookManagement.ViewModel.BookAuthorViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-bookId="@ViewBag.BookId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.BookAuthorId" asp-route-bookId="@ViewBag.BookId">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.BookAuthorId" asp-route-bookId="@ViewBag.BookId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BookAuthorId" asp-route-bookId="@ViewBag.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
